# Dependencias
node_modules/

# Producción
dist/

# Editor e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Archivos de sistema
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Temporales y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
